{% import "Ceres::PageDesign.Macros.IncludeComponents" as Loader %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Ceres::PageDesign.Macros.Translations" as Translations %}
{{ component( "Ceres::PageDesign.Components.Notifications" ) }}
{{ component( "Ceres::Basket.Components.BasketPreview" ) }}
{{ component( "Ceres::Customer.Components.Login" ) }}
{{ component( "Ceres::Customer.Components.Registration" ) }}
{{ component( "Ceres::Basket.Components.AddItemToBasketOverlay" ) }}
{{ component( "Ceres::PageDesign.Components.Popper" ) }}
{{ component( "Ceres::Customer.Components.ForgotPassword" ) }}
{{ component("Ceres::Customer.Components.Contact.AcceptPrivacyPolicyCheck") }}

{# TODO: remove if shop builder pages can be rebuild by migrations #}
{{ component( "Ceres::Containers.Components.LastSeenItemList" ) }}
{{ component( "Ceres::ItemList.Components.CategoryItem") }}
{{ component( "Ceres::Newsletter.Components.NewsletterInput" ) }}
{{ component( "Ceres::PageDesign.Components.Carousel" ) }}

{% if isShopBuilder %}
    {% include "Ceres::Widgets.WidgetComponents" %}
{% endif %}

{% set currencyFormat = config("Ceres.currency.format") %}
{% set defaultLanguage = services.webstoreConfig.getDefaultLanguage() %}

{% if request.get('openBasketPreview') == 1 %}
    {% set openBasketClass = "open-" ~ ceresConfig.basket.previewType %}
{% endif %}

<!DOCTYPE html>

<html lang="{{ lang }}" data-framework="vue" prefix="og: http://ogp.me/ns#">

<head>
    {{ get_consent_scripts(ceresConfig.global.blockCookies) }}

    {% include getPartial('head') %}

    {% block PartialHead %}
        {% embed getPartial('page-metadata') %}{% endembed %}
    {% endblock %}

    {% for styleTemplate in get_additional_styles() %}
        {% include styleTemplate.path ignore missing with styleTemplate.params %}
    {% endfor %}
</head>

<body class="{{ bodyClasses | join(' ') }}">

{{ LayoutContainer.show("Ceres::PageDesign.AfterOpeningBodyTag") }}

<script>
    if('ontouchstart' in document.documentElement)
    {
        document.body.classList.add("touch");
    }
    else
    {
        document.body.classList.add("no-touch");
    }
</script>
<div id="vue-app"{% if openBasketClass is not empty %} class="{{ openBasketClass }}"{% endif %}>
    <div class="wrapper wrapper-top">
        <!-- messages -->
        <notifications template="#vue-notifications" :initial-notifications="{{ notifications | json_encode() }}"></notifications>
    </div>

    <div class="wrapper wrapper-left">
        <!-- filters -->
    </div>

    <div class="wrapper wrapper-main {% if ceresConfig.header.fixNavBarPos %}isSticky{% endif %}">
        {% include getPartial('header') %}

        <div id="page-body" class="main">
            {% block PageBody %}
                <!-- inject content of inherited templates here -->
            {% endblock %}

            <div class='order-helper'>
                <h1>Die originale badassBox direkt vom Hersteller kaufen</h1>
                <h2 style="margin-bottom: 50px;">&ndash;&nbsp;kontaktloses E-Bike Tuning seit 2013&nbsp;&ndash;</h2>
                
                {# <a href="/refurbished/" title="Black Friday Refurbished"><img src="https://cdn02.plentymarkets.com/iv4fji8dtb7e/frontend/img/BlackFridayRefurbished_DE.jpg" alt="Black Friday Refurbished" style="width: 100%; max-width: 1000px;"></a> #}
                <a href="/aktuelle-badassboxen/" title="Direkt zu unseren Produkten"><img src="/documents/category/133/badassbox_4_modelle.jpg" alt="Die badassBox 4 Modelle in der Übersicht" style="width: 100%; max-width: 1000px;"></a>
                
                <p style="margin-top: 20px;">Wir machen Dein E-Bike nicht stärker, aber es unterstützt Dich über 25 km/h hinaus.<br>
                    Entfessle das volle Potential Deines E-Bikes. Fahre so schnell Du kannst. Überwinde Deine Limits. Fahre ohne Limits.</p>
                    
                <p style="font-size: 16px;">Direkt zu den badassBoxen für {% Container_NavigationCategories5() %}</p>
                
                <p style="margin: 30px 0 20px 0; font-weight: bold;">Welche badassBox benötige ich um mein E-Bike schneller zu machen?</p>
                    
                <div class="select_motor">
                    <strong>Bosch</strong><br>
                    Motoren: <i>Classic</i>, <i>Classic Plus</i>, <i>Active Line (Cruise)</i>, <i>Active Line Plus (Cruise)</i>, <i>Performance Line (Cruise)</i> oder <i>Performance Line CX</i>
                </div>
                <div class="select_box">
                    <p>Für alle Pedelecs mit Bosch-Antrieb: die neue <strong>badassBox 4 Bosch</strong></p>
                    
                    <div class='i-133 products'>
                        {% SetCategoryId(88) %}
                        {% Container_ItemViewCategoriesList4() %}
                    </div>
                    
                    <p>{# <strong>Noch Fragen?</strong> Schauen Sie in die <a href='{% Link(137) %}'>häufig gestellten Fragen (FAQ)</a>! #}<strong>Noch unsicher?</strong> Mit unserer kundenfreundlichen <a href='{% Link(131) %}'>Geld-zurück-Garantie</a> gehst Du kein Risiko ein.</p>
                </div>
                
                
                <div class="select_motor">
                    <strong>Brose</strong><br>
                    Motoren: teilweise ohne Bezeichnung, <i>Drive T</i>, <i>Drive S</i>, <i>Drive S Mag</i>{#<br> 
                    &#8505; Der Fahrradhersteller Specialized verbaut Brose-Motoren unter eigenen Namen:<br>
                    <i>Custom Rx Street Tuned Motor</i>, <i>Custom Turbo 1.3 Motor</i>#}
                    </div>
                <div class="select_box">
                    <p>Für alle Pedelecs mit Brose-Antrieb: die neue <strong>badassBox 4 Brose</strong></p>
                    
                    <div class='i-133 products'>
                        {% SetCategoryId(89) %}
                        {% Container_ItemViewCategoriesList4() %}
                    </div>
                    
                    <p>{# <strong>Noch Fragen?</strong> Schauen Sie in die <a href='{% Link(137) %}'>häufig gestellten Fragen (FAQ)</a>! #}<strong>Noch unsicher?</strong> Mit unserer kundenfreundlichen <a href='{% Link(131) %}'>Geld-zurück-Garantie</a> gehst Du kein Risiko ein.</p>
                </div>
                
                
                <div class="select_motor">
                    <strong>Continental</strong><br>
                    Motoren: <i>36V Motor</i>, <i>48V Prime</i>, <i>48V Revolution</i>
                </div>
                <div class="select_box">
                    <p>Für alle Pedelecs mit Conti-Antrieb: die neue <strong>badassBox 4 Continental</strong></p>
                    
                    <div class='i-133 products'>
                        {% SetCategoryId(90) %}
                        {% Container_ItemViewCategoriesList4() %}
                    </div>
                    
                    <p>{# <strong>Noch Fragen?</strong> Schauen Sie in die <a href='{% Link(137) %}'>häufig gestellten Fragen (FAQ)</a>! #}<strong>Noch unsicher?</strong> Mit unserer kundenfreundlichen <a href='{% Link(131) %}'>Geld-zurück-Garantie</a> gehst Du kein Risiko ein.</p>
                </div>
                
                
                <div class="select_motor">
                    <strong>Fazua</strong><br>
                    Motor: <i>evation 1.0</i>
                </div>
                <div class="select_box">
                    <p>Für alle Pedelecs mit Fazua-Antrieb: die neue <strong>badassBox 4 Fazua</strong></p>
                    
                    <div class='i-133 products'>
                        {% SetCategoryId(127) %}
                        {% Container_ItemViewCategoriesList4() %}
                    </div>
                    
                    <p>{# <strong>Noch Fragen?</strong> Schauen Sie in die <a href='{% Link(137) %}'>häufig gestellten Fragen (FAQ)</a>! #}<strong>Noch unsicher?</strong> Mit unserer kundenfreundlichen <a href='{% Link(131) %}'>Geld-zurück-Garantie</a> gehst Du kein Risiko ein.</p>
                </div>
                
                
                <div class="select_motor">
                    <strong>Giant</strong><br>
                    Motoren: <i>SyncDrive Life</i>, <i>SyncDrive Sport</i>, <i>SyncDrive Pro</i>
                </div>
                <div class="select_box">
                    <p>Für alle Pedelecs mit Giant-Antrieb: die neue <strong>badassBox 4 Giant</strong></p>
                    
                    <div class='i-133 products'>
                        {% SetCategoryId(147) %}
                        {% Container_ItemViewCategoriesList4() %}
                    </div>
                    
                    <p>{# <strong>Noch Fragen?</strong> Schauen Sie in die <a href='{% Link(137) %}'>häufig gestellten Fragen (FAQ)</a>! #}<strong>Noch unsicher?</strong> Mit unserer kundenfreundlichen <a href='{% Link(131) %}'>Geld-zurück-Garantie</a> gehst Du kein Risiko ein.</p>
                </div>
                
                
                <div class="select_motor">
                    <strong>Kalkhoff, Focus, Raleigh, Rixe, Univega</strong> (Derby Cycle)<br>
                    Motoren: <i>Impulse</i>, <i>Impulse 2.0</i>, <i>Impulse EVO</i>, <i>Impulse EVO RS</i>, <i>Impulse EVO NEXT</i>
                </div>
                <div class="select_box">
                    <p>Für alle Pedelecs mit Impulse-Antrieb: die neue <strong>badassBox 4 Impulse</strong></p>
                    
                    <div class='i-133 products'>
                        {% SetCategoryId(91) %}
                        {% Container_ItemViewCategoriesList4() %}
                    </div>
                    
                    <p>{# <strong>Noch Fragen?</strong> Schauen Sie in die <a href='{% Link(137) %}'>häufig gestellten Fragen (FAQ)</a>! #}<strong>Noch unsicher?</strong> Mit unserer kundenfreundlichen <a href='{% Link(131) %}'>Geld-zurück-Garantie</a> gehst Du kein Risiko ein.</p>
                </div>
                
                
                <div class="select_motor">
                    <strong>Panasonic</strong><br>
                    {# Motoren: <i>(X0) Rear Mount</i>, <i>(X0) Front Mount</i>, <i>(X0) Front Mount Mountain</i>, <i>Multi Speed (Assist System)</i> #}
                    Motoren: <i>Mittelmotor 26 V</i>, <i>Mittelmotor 36 V</i>, <i>FIT (Flyer-Intelligent-Technology)</i>
                </div>
                <div class="select_box">
                    <p>Es gibt zwei Varianten der badassBox für Pedelecs mit Panasonic-Mittelmotor: Die <strong>badassBox 4 Panasonic</strong> für übliche mechanische Schaltungen, und die <strong>badassBox 4 Panasonic Freeze</strong> für elektronische Schaltungen
                    (bspw. Shimano Di2, Rohloff E-14, NuVinci H-Sync):</p>
                
                    
                    <div class='i-133 products'>
                        {% SetCategoryId(125) %}
                        {% Container_ItemViewCategoriesList4() %}
                    </div>
                    
                    <p>{# <strong>Noch Fragen?</strong> Schauen Sie in die <a href='{% Link(137) %}'>häufig gestellten Fragen (FAQ)</a>! #}<strong>Noch unsicher?</strong> Mit unserer kundenfreundlichen <a href='{% Link(131) %}'>Geld-zurück-Garantie</a> gehst Du kein Risiko ein.</p>
                </div>
                
                
                <div class="select_motor">
                    <strong>Pendix</strong><br>
                    Motor: <i>eDrive</i>
                </div>
                <div class="select_box">
                    <p>Für alle Pedelecs mit Pendix-Antrieb: die neue <strong>badassBox 4 Pendix</strong></p>
                    
                    <div class='i-133 products'>
                        {% SetCategoryId(126) %}
                        {% Container_ItemViewCategoriesList4() %}
                    </div>
                    
                    <p>{# <strong>Noch Fragen?</strong> Schauen Sie in die <a href='{% Link(137) %}'>häufig gestellten Fragen (FAQ)</a>! #}<strong>Noch unsicher?</strong> Mit unserer kundenfreundlichen <a href='{% Link(131) %}'>Geld-zurück-Garantie</a> gehst Du kein Risiko ein.</p>
                </div>
                
                
                <div class="select_motor">
                    <strong>Shimano</strong><br>
                    Motoren: <i>STePS E6000</i>, <i>STePS E6100</i>, <i>STePS E7000</i>, <i>STePS E8000</i>
                </div>
                <div class="select_box">
                    <p>Für alle Pedelecs mit Shimano-Antrieb: die neue <strong>badassBox 4 Shimano 2019</strong></p>
                
                    <div class='i-133 products'>
                        {% SetCategoryId(92) %}
                        {% Container_ItemViewCategoriesList4() %}
                    </div>
                    
                    <p>{# <strong>Noch Fragen?</strong> Schauen Sie in die <a href='{% Link(137) %}'>häufig gestellten Fragen (FAQ)</a>! #}<strong>Noch unsicher?</strong> Mit unserer kundenfreundlichen <a href='{% Link(131) %}'>Geld-zurück-Garantie</a> gehst Du kein Risiko ein.</p>
                </div>
                
                
                <div class="select_motor">
                    <strong>Specialized</strong><br>
                    Motoren: <i>Custom Rx Street Tuned Motor</i>, <i>Custom Turbo 1.3 Motor</i>
                </div>
                <div class="select_box">
                    <p>Es gibt zwei Varianten der badassBox für Pedelecs von Specialized: Das <strong>badassBox 4 Specialized-Set Turbo Levo 2019</strong> ist ausschließlich für Turbo Levo Modelljahr 2019+2020 und Turbo Creo Modelljahr 2020 (neuer Sensor im Ausfallende), und für alle anderen Specialized E-Bikes das normale <strong>badassBox 4 Specialized-Set</strong>:</p>
                
                    <div class='i-133 products'>
                        {% SetCategoryId(144) %}
                        {% Container_ItemViewCategoriesList4() %}
                    </div>
                    
                    <p>{# <strong>Noch Fragen?</strong> Schauen Sie in die <a href='{% Link(137) %}'>häufig gestellten Fragen (FAQ)</a>! #}<strong>Noch unsicher?</strong> Mit unserer kundenfreundlichen <a href='{% Link(131) %}'>Geld-zurück-Garantie</a> gehst Du kein Risiko ein.</p>
                </div>
                
                
                <div class="select_motor">
                    <strong>Yamaha</strong><br>
                    Motoren: <i>PWseries SE</i>, <i>PWseries TE</i>, <i>PW-X</i>{#<br>
                    &#8505; Der Fahrradhersteller GIANT verbaut angepasste Yamaha-Motoren unter eigenen Namen:<br>
                    <i>SyncDrive</i>, <i>SyncDrive Pro</i>, <i>SyncDrive Sport</i>#}
                </div>
                <div class="select_box">
                    <p>Für alle Pedelecs mit Yamaha-Antrieb: die neue <strong>badassBox 4 Yamaha</strong></p>
                    
                    <div class='i-133 products'>
                        {% SetCategoryId(93) %}
                        {% Container_ItemViewCategoriesList4() %}
                    </div>
                    
                    <p>{# <strong>Noch Fragen?</strong> Schauen Sie in die <a href='{% Link(137) %}'>häufig gestellten Fragen (FAQ)</a>! #}<strong>Noch unsicher?</strong> Mit unserer kundenfreundlichen <a href='{% Link(131) %}'>Geld-zurück-Garantie</a> gehst Du kein Risiko ein.</p>
                </div>
                
                
                <div class="select_motor">
                    <strong>Anderer Hersteller oder Motor</strong>
                </div>
                <div class="select_box">
                    <p>Bitte beachte, dass wir die badassBoxen ausschließlich für Pedelecs mit Mittelmotor und Motor-Unterstützung bis 25&nbsp;km/h und 250&nbsp;Watt Dauerleistung konzipiert haben, nicht für S-Pedelecs oder Nabenmotoren.</p>
                    <p>Schreibe unserem Kundenservice eine Nachricht an <a href='mailto:service@badassebikes.com'>service@badassebikes.com</a>! <strong>Bitte nenne die exakte Bezeichnung und den Hersteller Deines E-Bikes.</strong>
                    Wir antworten meist noch am gleichen Werktag.</p>
                </div>
                
                
                <div class="select_motor">
                    <strong>Ich bin mir unsicher</strong>
                </div>
                <div class="select_box">
                    <p>Keine Sorge, auch wir wurden nicht als E-Bike Tuningexperten geboren.<p/>
                    <p>Schaue bitte zuerst wo der Motor Deines E-Bikes verbaut ist. Wir unterstützen ausschließlich Pedelecs mit Mittelmotor
                    (Motor im Bereich der Kurbel/der Pedale verbaut) und Motor-Unterstützung bis 25&nbsp;km/h und 250&nbsp;Watt Dauerleistung,
                    jedoch keine S-Pedelecs (Motorunterstützung bis 45&nbsp;km/h) und keine Nabenmotoren (Motor im Bereich der Radachse vorne oder hinten).</p>
                    <p>Schreibe unserem freundlichen Kundenservice eine Nachricht an <a href='mailto:service@badassebikes.com'>service@badassebikes.com</a>.
                    <strong>Bitte nenne die exakte Bezeichnung und den Hersteller Deines E-Bikes.</strong> Schicke wenn möglich ein Bild des Rads mit.
                    Wir antworten meist noch am gleichen Werktag.</p>
                </div>
            </div>
        </div>

        {% include getPartial('footer') %}

        {% block PartialFooter %}
        {% endblock %}
    </div>

    {% if basket is not defined %}
        {% set basket = services.basket.getBasketForTemplate() %}
    {% endif %}
    {% if ceresConfig.basket.previewType == "right" %}
        <div class="wrapper wrapper-right">
            <basket-preview :show-net-prices={{ showNetPrices | json_encode }}></basket-preview>
        </div>
    {% endif %}

    <div class="wrapper wrapper-bottom">
        <!-- LOGIN MODAL -->
        <div id="login-modal-wrapper">
            <div class="modal fade login-modal" id="login" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title h3">{{ trans("Ceres::Template.login") }}</div>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <login modal-element="login-modal-wrapper"></login>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./LOGIN MODAL -->

        <!-- REGISTRATION MODAL -->
        <div id="simple-registration-modal-wrapper">
            <div class="modal fade" id="registration" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title h3">
                                {{ trans("Ceres::Template.regCreateAccount") }}

                            </div>

                            <popper v-cloak class="ml-auto">
                                <template #handle>
                                    <button class="btn btn-icon btn-secondary btn-sm">
                                        <i class="fa fa-info"></i>
                                    </button>
                                </template>
                                <template #title>
                                    {{ trans("Ceres::Template.regContactInformations") }}
                                </template>
                                <template #content>
                                    <ul class='pl-3'>
                                        <li class='mb-3'>{{ trans('Ceres::Template.regContactInfoText1') }}</li>
                                        <li class='mb-3'>{{ trans('Ceres::Template.regContactInfoText2') }}</li>
                                        <li class='mb-3'>{{ trans('Ceres::Template.regContactInfoText3') }}</li>
                                        <li>{{ trans('Ceres::Template.regContactInfoText4') }}</li>
                                    </ul>
                                </template>
                            </popper>

                            <button type="button" class="close ml-0" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <registration template="#vue-registration" :is-simple-registration="true" modal-element="simple-registration-modal-wrapper"></registration>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./REGISTRATION MODAL -->

        <!-- BASKET MODAL -->
        <add-item-to-basket-overlay></add-item-to-basket-overlay>
        <!-- ./BASKET MODAL -->

        <!-- PASSWORD RESET MODAL -->
        <forgot-password-modal></forgot-password-modal>
        <!-- ./PASSWORD RESET MODAL -->

        <!-- SHIPPINGCOSTS MODAL -->
        {% if ceresConfig.global.shippingCostsCategoryId > 0 %}
        <div id="shippingscosts-modal-wrapper">
            <div class="modal fade" id="shippingscosts" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title h3">{{ trans('Ceres::Template.shippingInfoCosts') }}</div>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            {% set shopBuilderShippingTemplate = shop_builder_category_template(ceresConfig.global.shippingCostsCategoryId) %}
                            {% if shopBuilderShippingTemplate | trim is not empty %}
                                {{ shopBuilderShippingTemplate | raw }}
                            {% else %}
                                {% include category_template(ceresConfig.global.shippingCostsCategoryId, lang, webstoreConfig.webstoreId) ignore missing %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- ./SHIPPINGCOSTS MODAL -->
    </div>
</div>

<script>
    var accordion = document.getElementsByClassName('select_motor');
    
    for (var i = 0; i < accordion.length; i++) {
        accordion[i].addEventListener('click', function() {
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
                this.classList.remove('active');
            } else {
                panel.style.maxHeight = panel.scrollHeight + 'px';
                this.classList.add('active');
            }
            
            var accordion = document.getElementsByClassName('select_motor');
            for (var i = 0; i < accordion.length; i++) {
                if (accordion[i] === this)
                    continue;
                    
                accordion[i].classList.remove('active');
                accordion[i].nextElementSibling.style.maxHeight = null;
            }
        });
    }
</script>

<script>
    App = {
        config: {{ ceresConfig | json_encode | raw }},
        urls: {{ urls | json_encode | raw }},
        activeCurrency: "{{ currencyData[currencyFormat] }}",
        currencyPattern: {{  services.checkout.getCurrencyPattern() | json_encode | raw }},
        isCategoryView: {% if services.template.isCategory() == "1" %}true{% else %}false{% endif %},
        isCheckoutView : {% if services.template.isCheckout() == "1" %}true{% else %}false{% endif %},
        isSearch: {% if services.template.isSearch() == "1" %}true{% else %}false{% endif %},
        templateEvent: "{{ templateEvent }}",
        language: "{{ lang }}",
        defaultLanguage: "{{ defaultLanguage }}",
        decimalSeparator: "{{ config("IO.format.separator_decimal") }}",
        urlTrailingSlash: {{ urls.appendTrailingSlash | json_encode }},
        propertyFileUrl: "{{ services.propertyFile.getPropertyFileUrl() }}",
        isShopBuilder: {{ isShopBuilder | default(false) | json_encode }},
        initialData: {
            shippingCountries: {{ services.country.getActiveCountriesList() | filterFields(["id", "currLangName", "isoCode2", "states.id", "states.name"]) | json_encode | raw }},
            shippingCountryId: {{ services.checkout.getShippingCountryId() | json_encode }}
        }
    };
</script>


{{ Loader.include_components() }}

{{ LayoutContainer.show("Ceres::Script.Loader") }}

{{ Translations.add( "Ceres", "Template" ) }}

{{ get_json_data() }}

{% if ceresConfig.log.performanceLevel  == 'development' %}
    <script src="{{ plugin_path('Ceres') }}/js/dist/ceres.js?v={{ buildHash }}"></script>
{% else %}
    <script src="{{ plugin_path('Ceres') }}/js/dist/ceres.min.js?v={{ buildHash }}"></script>
{% endif %}

{% for scriptTemplate in get_additional_scripts() %}
    {% include scriptTemplate.path ignore missing with scriptTemplate.params %}
{% endfor %}

{% if isShopBuilder %}
    {% include "Ceres::Widgets.ShopBuilderDataStore" %}
{% endif %}

{{ LayoutContainer.show("Ceres::Script.AfterScriptsLoaded") }}

<script>
    window.vueEventHub = new Vue();

    if (App.config.log.checkSyntax)
    {
        var rootElement = document.getElementById("vue-app");

        rootElement.innerHTML = rootElement.innerHTML.replace(/(?:^|\s)(?::|v-bind:)\S+=(?:""|'')/g, "");

        window.vueApp = new Vue({
            store: window.ceresStore
        });

        vueApp.$mount( rootElement.cloneNode(true) );

        if (vueApp.$el.id === "vue-app")
        {
            document.body.replaceChild( vueApp.$el, rootElement );
        }
    }
    else
    {
        // eslint-disable-next-line no-unused-vars
        window.vueApp = new Vue({
            el: "#vue-app",
            store: window.ceresStore
        });
    }
</script>

{{ get_filtered_tags() }}

{{ get_shop_builder_scripts( "latest", ceresConfig.log.performanceLevel == 'live') }}

{% if not services.template.shouldBeCached() %}
    <input type="hidden" id="csrf-token" value="{{ csrf_token() }}">
{% endif %}

{# <!-- TrustedShops -->
<script type="text/javascript">
  (function () { 
    var _tsid = 'X84AB1ED5D9E522FA827B7E77DD0E970A'; 
    _tsConfig = { 
      'yOffset': '90px', /* offset from page bottom */
      'variant': 'reviews', /* default, reviews, custom, custom_reviews */
      'customElementId': '', /* required for variants custom and custom_reviews */
      'trustcardDirection': '', /* for custom variants: topRight, topLeft, bottomRight, bottomLeft */
      'customBadgeWidth': '', /* for custom variants: 40 - 90 (in pixels) */
      'customBadgeHeight': '', /* for custom variants: 40 - 90 (in pixels) */
      'disableResponsive': 'false', /* deactivate responsive behaviour */
      'disableTrustbadge': 'false' /* deactivate trustbadge */
    };
    var _ts = document.createElement('script');
    _ts.type = 'text/javascript'; 
    _ts.charset = 'utf-8'; 
    _ts.async = true; 
    _ts.src = '//widgets.trustedshops.com/js/' + _tsid + '.js'; 
    var __ts = document.getElementsByTagName('script')[0];
    __ts.parentNode.insertBefore(_ts, __ts);
  })();
</script>
<!-- TrustedShops --> #}

</body>
</html>
